@import '../../utils/Common'

#IndexComponent
  .button
    position absolute
    padding 20px
    background-color gray
    transition ease-out background-color 0.24s, ease-out color 0.24s

    &:hover
      background-color black
      color white

  #IndexComponentButton1
    top 120px
    right 20px

  #IndexComponentButton2
    top 240px
    right 120px
