@import '../../utils/Common'

global-reset()

html, body
  height 100%
  font-family Sans-Serif
  font-size 12px
  font-weight 300
  line-height 1.5
  text-rendering optimizelegibility
  font-smoothing antialiased
